
form {
    fieldset {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            place-content: flex-start;
            justify-content: space-between;
            li {
                display: inline-block;
            }
        }
    }
}

.legend {
    @extend %headline-styles;
    font-size: 21px;
    font-weight: 500;
    line-height: 2em;
}

#radios {
    .checkcontainer {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 17px;
        color: #000;
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
        &:hover {
            input {
                ~.radiobtn {
                    background-color: #ccc;
                }
            }
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            margin: 0;
            padding: 0;
            overflow: visible;
            font: inherit;
            &:checked {
                ~.radiobtn {
                    background-color: #2196F3;
                    &:after {
                        display: block;
                    }
                }
            }
        }
        .radiobtn {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 0;
            &:after {
                content: "";
                position: absolute;
                top: 4px;
                left: 4px;
                width: 17px;
                height: 17px;
                border-radius: 0;
                background: white;
            }
        }
    }
}